:root {
    --first-color: #f5f5dc;
    --second-color: black;
    --highlight-color: gold;
  }

 html,body {
  height:100%;
  margin:10pt;
} 

  body {
    background-color:skyblue;
    text-align: center;
  }

.brlarge {
  display:block;
  margin-bottom:2200px
}
  
  main {
    margin-right: 30px;
    margin-left: 30px;
    background-color:lightgoldenrodyellow;
  }
  
  .column {
	  float: left;
	  width: 50%;
    height:30%;
	  padding: 10px;
   
	}

  img {
      width:250px;
      height:350px;
      flex-wrap:wrap;
      position:relative; 
      display:inline-block;
      margin-right: 10px; 
      border: 10px solid goldenrod;
      margin-bottom: 30px;
  }

  input {
    background-color:black; 
    color:hotpink;
    font-size:18px;
    padding:2px;
    text-align:center;
  }


  h1 {
    color:blue;
    font-size:35px;
    font-style:arial;
  }

  h2 {
    color:purple;
    font-size:30px;
    font-style:arial;
    font:bold;
  }

h3 {
    color:purple;
   
  }

h4 {
  color:blue;
  font-size:20px;
    font-style:arial;
}

.btn-primary {
  background-color:hotpink;
}
  .content {
    min-height: 100%;
  }

  a {
    color:hotpink;
  }

  p {
    color:purple;
    font-size:20px;
  }

  text {
    color:white;
  }

  #button1{
    width: 250px;
    height: 40px;
}

#button2{
    width: 250px;
    height: 40px;
}

#button3{
  width:250px;
  height:40px
}

#button4{
  width:250px;
  height:40px
}

#container{
    text-align: center;
}


  .column {
    float: left;
    width: 15.33%;
    padding: 11.7px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .footer {
    position:absolute;
    font-size:18px;
    height:200px;
    top:10px;
    bottom:0.1em;
    background-color:black;
    margin-top: -50px;
  }

  main {
    text-align:center;
  }

